<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="robots" content="index, follow" />
		<title>Muhammad Ali</title>
		<meta name="description" content="Muhammad Ali">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="keyword" content="">
		<meta property="og:title" content="Muhammad Ali"/>
		<meta property="og:description" content="Muhammad Ali" >
		<meta property="og:image:width" content="650" />
		<meta property="og:image:height" content="366" />
		<meta property="og:type" content="article" />
		<link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
		<link rel="manifest" href="./site.webmanifest">
		<link rel="mask-icon" href="./safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
		<link rel="stylesheet" href="css/main.css">
	</head>
	<body{% if body_class is defined and body_class is not empty %} class="{{ body_class }} theme-dark" id="{{ body_class }}" {% endif %}>
		<header class="header-fix">
			<div class="container-fluid">
				<nav class="header-menu">
					<div class="header-logo">
						<h1 class="brand-logo" data-aos="fade-right" data-aos-delay="300">
							<a href="index.html">
								<span class="logo"></span>
								<strong class="font-text-bold">Muhammad Ali</strong>
							</a>
						</h1>
					</div>
					<div class="toggle-down">
						<div class="menu-toggle-btn" data-aos="fade-left" data-aos-delay="300">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
					<ul class="menu flat">
						<li data-aos="fade-left">
							<a class="is-scroll" href="#work">Work</a>
						</li>
						<li data-aos="fade-left">
							<a class="is-scroll" href="#footer">Contact</a>
						</li>
						<li data-aos="fade-left">
							<div class="custom-control custom-switch">
								<input type="checkbox" class="custom-control-input" id="darkmode" checked>
								<label class="custom-control-label" for="darkmode">Dark Mode</label>
							</div>
						</li>
					</ul>
				</nav>
			</div>
		</header>
		<main>
{% block page %}{% endblock %}
		</main>
{% include '../partials/footer.twig' %}
		<script src="js/vendor.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="js/main.min.js"></script>
	</body>
</html>
